@media screen and (min-width: 320px) and (max-width: 479px){
	body{
		font-size: 50%;
	}
	header{
		height: 25%;
		text-align: center;
	}
	.logo{
		float: none;
		text-align: center;
	}
	.menu{
		display: none;
	}
	.meals h1{
		padding-top: 25%;
	}
	.title-meals{
		font-size: 50%;
	}
	.bottom-list .container>ul {
    margin: 10% 0 10%;
    width: 100%;
}
}

@media screen and (min-width: 480px) and (max-width: 767px){
	body{
		font-size: 70%;
	}
	header{
		height: 16%;
		text-align: center;
			}
	.logo{
		float: none;
		text-align: center;
	}
	.menu{
		display: none;
	}		
	.meals h1{
		padding-top: 25%;
	}
	.title-meals{
		font-size: 50%;
	}
	.bottom-list .container>ul {
    width: 32%;
    }
}
@media screen and (min-width: 320px) and (max-width: 1023px){
	.meals h1{
		padding-top: 25%;
	}
	.container{
		width: 100%;
		padding: 0;
	}
	
	
	.main{
		margin-top: 16%;
	}
	.meals .container{
		background-color: rgba(0,0,0,0.5);
	}
	.meals ul li, .news ul li{
		width: 100%;
		margin-left: 0;
		margin-top: 5%;
	}
	.meals a.button{
		margin-bottom: 10%;
	}
	.news h1{
		margin: 10% auto;
	}
	.news a.button{
		margin:5% auto 10%; 
	}
	.newsletter p{
		padding: 0 10%;
		width: 80%;
	}
	.newsletter input{
		width: 70%;
		margin: 5% 10%;
	}
	.newsletter button{
		width: 40%;
		left: 0;
		margin: 0 30% 5%;
	}
	 .content-text, .content-img {
		width: 90%;
		margin: 5% 5%;
		text-align: center;
	}
	.content .button{
		margin: 0 auto;
	}

	.content-text h3 {
		margin-top: 0;
	}
	.content ul {
	margin-bottom: 5%;
}

footer p{
	margin: 10% 0 10%;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
	body{
		font-size: 70%;
	}
	.menu a{
		font-size: 1.5em;
	}
	.title-meals{
		font-size: 50%;
	}
	.meals ul li{
		width: 32%;
		margin-left: 0;
		margin-top: 5%;
	}
	.newsletter input{
		width: 40%;
		margin: 5% 26%;
	}
	.newsletter button{
		width: 20%;
		top: -30px;
		left: 19%;
		margin: 0 30% 5%;
		padding: 8px 0 10px;
	}
	.bottom-list .container>ul {
    width: 33%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1250px){
	.container{
		width: 100%;
		padding: 0;
	}
	.meals .container{
		background-color: rgba(0,0,0,0.5);
	}
	.meals h1{
		padding-top: 25%;
	}
	.meals ul li{
		width: 31%;
	}
	.list-news ul li{
		width: 31%;
	}
	.content-text, .content-img {
		width: 45%;
		margin: 5% 0 5%;
	}
	.bottom-list .container>ul {
    width: 33%;
    }
}