@import"../variables.scss";
.button{
  width: 186px;
  height: 40px;
  background-color: white;
  border: 2px solid #c2c2c2;
  border-radius: 20px;
  padding: 10px 25px;
  color: #c2c1c1;
  font-family: 'Lato';
  font-weight: 700;
  line-height: 1.2px;
}