@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.button {
  width: 186px;
  height: 40px;
  background-color: white;
  border: 2px solid #c2c2c2;
  border-radius: 20px;
  padding: 10px 25px;
  color: #c2c1c1;
  font-family: 'Lato';
  font-weight: 700;
  line-height: 1.2px; }

@font-face {
  font-family: 'eurofurence_regular';
  src: url("../fonts/eurof55-webfont.eot");
  src: url("../fonts/eurof55-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/eurof55-webfont.woff2") format("woff2"), url("../fonts/eurof55-webfont.woff") format("woff"), url("../fonts/eurof55-webfont.ttf") format("truetype"), url("../fonts/eurof55-webfont.svg#eurofurence_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0; }
  body .container-fluid:before, body .container-fluid:after,
  body .clearfix:before,
  body .clearfix:after {
    content: '';
    display: table; }
  body .container-fluid:after,
  body .clearfix:after {
    clear: both; }
  body .wrapper {
    min-width: 320px;
    max-width: 100%; }
  body ul {
    list-style: none;
    padding-left: 0; }
  body a {
    text-decoration: none; }

@media screen and (min-width: 979px) {
  .h-page h1 {
    margin: 45px 0;
    width: 20%; }
  .h-page .hamburger {
    display: none !important; }
  .h-page .container-fluid .menu-primary-menu-links-container {
    position: static;
    float: right;
    width: 80%;
    background: transparent; }
    .h-page .container-fluid .menu-primary-menu-links-container ul {
      display: block !important; }
      .h-page .container-fluid .menu-primary-menu-links-container ul li {
        float: right;
        min-width: 130px; }
        .h-page .container-fluid .menu-primary-menu-links-container ul li:first-of-type a {
          box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d; }
        .h-page .container-fluid .menu-primary-menu-links-container ul li:hover {
          background-color: transparent; }
        .h-page .container-fluid .menu-primary-menu-links-container ul li a {
          padding: 55px 40px;
          box-shadow: -1px 0 0 #1d1d1d; }
          .h-page .container-fluid .menu-primary-menu-links-container ul li a:hover {
            box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a, inset -1px 0 0 #1d1d1d; }
  div.content {
    width: 70%;
    float: left;
    margin-left: 0;
    border-right: none; }
    div.content article .description h2 {
      font-size: 28px;
      letter-spacing: 2px; }
  div.sidebar {
    width: 30%;
    float: right;
    border-left: none; }
  .f-page {
    padding: 80px 0; } }

.h-page {
  background-color: #292929;
  box-shadow: inset 0 -6px 0 #1e1e1e;
  position: relative; }
  .h-page h1 {
    float: left;
    width: 200px;
    font-size: 2.5rem;
    margin: 25px 0; }
    .h-page h1 a {
      font-family: eurofurence_regular, sans-serif;
      color: white; }
      .h-page h1 a span {
        color: #58c93a; }
  .h-page .hamburger, .h-page .cross {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0 25px;
    color: #58c93a;
    z-index: 99999;
    background: none;
    border: none;
    outline: none;
    font-weight: bold; }
  .h-page .hamburger {
    line-height: 45px;
    font-size: 1.5rem; }
  .h-page .cross {
    font-size: 3rem;
    height: 45px; }
  .h-page .menu-primary-menu-links-container {
    z-index: 999;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: #131313;
    position: absolute;
    top: 94px;
    margin-left: -15px; }
    .h-page .menu-primary-menu-links-container li {
      border-bottom: #1d1f20 1px solid;
      text-align: center; }
      .h-page .menu-primary-menu-links-container li:hover {
        background: #181818; }
      .h-page .menu-primary-menu-links-container li a {
        display: block;
        padding: 15px 0 15px 0;
        height: 100%;
        margin: 0 !important;
        color: #fff; }
        .h-page .menu-primary-menu-links-container li a:hover {
          color: #58c93a; }

.content {
  width: 100%;
  float: left;
  margin-left: 4%; }
  .content article {
    margin-right: 50px;
    margin-top: 80px; }
    .content article .attachment-post-thumbnail {
      width: 100%;
      height: auto; }
    .content article .description {
      padding: 20px; }
      .content article .description h2 {
        text-transform: uppercase; }
        .content article .description h2 a {
          color: #4f4e4e; }
      .content article .description p {
        margin-bottom: 34px;
        color: #606060;
        line-height: 1.2; }
      .content article .description .button:hover {
        color: black;
        background-color: #58c93a;
        transition: 1s; }

.pagination {
  padding: 110px 30px 30px;
  color: #818181;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }
  .pagination a {
    color: #818181; }
    .pagination a.next-page {
      float: right;
      margin-right: 50px; }

.sidebar {
  float: right;
  width: 95%; }
  .sidebar .about {
    margin-bottom: 80px; }
  .sidebar div {
    margin-left: 30px; }
    .sidebar div h3 {
      line-height: 1.2;
      padding: 19px 23px;
      width: 279px;
      background-color: #f8f8f8;
      box-shadow: inset 3px 0 0 #58c93a;
      margin-top: 80px;
      margin-bottom: 20px;
      color: #6c6969;
      font-weight: 700;
      text-transform: uppercase; }
    .sidebar div p {
      color: #737373;
      margin: 20px 26px 0 20px; }
    .sidebar div form {
      position: relative;
      width: 80%; }
      .sidebar div form input {
        border: 1px solid #e1e0e0;
        padding: 18px 20px;
        width: 100%; }
      .sidebar div form button {
        top: 13px;
        right: -26px;
        position: absolute;
        border: 0;
        background-color: white; }

footer {
  padding: 80px;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: inset 0 1px 0 #e1e0e0; }
  footer h2 {
    font-family: 'eurofurence_regular';
    font-size: 40px;
    color: #292929;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 400; }
    footer h2 span {
      color: #58c93a; }
  footer span {
    color: #a6a6a6;
    margin-bottom: 36px; }
  footer a {
    color: #939292;
    font-weight: 700; }
  footer li {
    vertical-align: bottom;
    display: inline-block; }
    footer li a {
      margin-right: 20px;
      display: block;
      width: 40px;
      height: 40px;
      background-color: #e5e5e5; }
      footer li a i.fa {
        color: white;
        padding-top: 100%;
        transform: translateY(-50%); }
      footer li a:hover {
        background-color: #516fad; }
